<html>
    <head>
        <title>Inserted/Not</title>
        <style>
            .button
            {
              background-color: #357ec7;
              border: none;
              color: white;
              padding: 15px 30px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 18px;
              cursor: pointer;
            }
        </style>
    </head>
    <body align="center" background="/static/Background.jpg">
    <br/>
        <form>
            <font face="arial black" size="6">{{ insertmessage }}</font>
            <h3 align="center"><a href="/AddPlayers" class="button">ADD PLAYER</a></h3>
            <h3 align="center"><a href="/ViewPlayers" class="button">PLAYER LIST</a></h3>
            <h3 align="center"><a href="/Home" class="button">  GO HOME  </a></h3>
        </form>
    </body>
</html>